/*universal styles*/

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

/*header style*/

header {
  display: flex;
  width: 100%;
  background-color: black;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  color: white;
}

header span {
  display: flex;
  margin: .66rem .5rem;
  align-items: center;
}

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  height: 1.5rem;
  margin: .66rem .5rem;
}

/*main banner*/

.main_banner {
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;;
  height: 25rem;
}

/*headline styles*/

.headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  color: white;
}

.headline h4 {
  font-weight: bold;
}

.headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  font-weight: bold;
}

/*navigation*/

nav {
  display: flex;
  width: 100%;
  background-color: firebrick;
  color: white;
}

nav ul {
  display: inline-flex;
  padding: .75rem 0;
  align-items: center;
  justify-content: space-between;
}

.products,
.information {
  display: flex;
  width: 960px;
  margin-top: 3rem;
  justify-content: space-between;
}

.product {
  width: 30%;
  border: 4px solid black;
}

.product-image {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  height: 9rem;
  max-width: 8rem;
  justify-content: center;
  align-items: center;
}

.text {
  display: block;
  background-color: black;
  padding: .5rem;
  text-align: center;
  color: white;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
  color: white;
}

footer {
  margin-top: 4rem;
  background-color: black;
  color: white;
  padding: 5rem 0;
}
