html {
  font-size: 18px;
}

/*Header*/
header {
  display: flex;
  width: 100%;
  height: 2.24rem;
  background-color: black
}

.header {
  display: inline-flex;
  width: 960px;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-flex;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
}

.header span {
  display: inline-flex;
  font-family: Helvetica;
  font-size: 1rem;
  padding: 0.66rem auto;
  color: white;
  align-items: center;
  justify-content: center;
}

/*Main Banner*/

.Main_banner {
  display: flex;
  height: 25rem;
  width: 100%;
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  display: flex;
  background-color: black;
  width: 20rem;
  height: 9.5rem;
  margin-top: 9rem;
  position: relative;
  left: 18rem;
  flex-direction: column;
}

.New_arrival {
  display: flex;
  color: white;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.Bikes {
  display: flex;
  color: white;
  margin-top: 0.25rem;
  margin-left: 3rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

/*navigation menu*/

.navigation {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: firebrick;
  justify-content: center;
}

.navigation span {
  display: inline-flex;
  width: 960px;
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0;
}

.navigation a {
  display: flex;
  margin: 0.75rem 0;
  color: white;
  text-decoration: none;
}
/*product grid part*/
.product_grid {
  display: flex;
  width: 960px;
  position: relative;
  left: 18rem;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 3rem 1.5rem;
  height: 13rem;
  width: 30%;
  border: 4px solid black;
  align-items: center;
  justify-content: center;

}

.image {
  display: flex;
  flex-direction: column;
  height: 9rem;
  width: 9rem;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  width: 16.5rem;
  height: 2rem;
  margin: 0.5rem 0;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  width: 960px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
